body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e3b6;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('../images/background.png');
  }
  
  .screen {
    width: 95%; /* Largeur avec marge externe */
    height: 95%; /* Hauteur avec marge externe */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: 1;
}
  .screen.active {
    display: flex;
  }
  
  .hidden {
    display: none;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 10px;
    background-color: #d4a655;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none; 
}

#btn-start {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 100vh 100vw;
    border: none;
    border-radius: 5px;
    font-size: 7rem;
    line-height:1.2em;
    text-transform: uppercase;
    pointer-events: auto; 
    cursor: pointer;
    font-weight: 900;
}


#menu-navigation {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

#menu-navigation button {
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#menu-navigation button:hover {
  background-color: #bbb;
}

#menu-list div {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


#screen-service {
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.service-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 300px;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.service-btn img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.service-btn:active {
  background-color: #edc47f;
  color: black;
  transform: scale(1.05);
}
#screen-menu {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

#menu-navigation {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

#menu-navigation button {
  width: 140px; /* Taille fixe */
  height: 120px; /* Taille fixe */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em; /* Plus petit par défaut */
  border-radius: 5px;
  background-color: #d03931;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  opacity: 0.6;
  border: none;
  color: white;
  text-transform: uppercase;
}

#menu-navigation button img {
  width: 50px; /* Taille fixe pour l'image */
  height: 50px;
  margin-bottom: 5px;
}

#menu-navigation button.menu-selected {
  background-color: #D03A31;
  color: white;
  opacity: 1;
  transform: scale(1.2); /* Agrandir légèrement l'élément actif */
}


#menu-navigation button:active {
  opacity: 1;
  transform: scale(1.1);
  background-color: #e6534b;
}

#menu-list {
  flex: 1;
  overflow-y: auto;
}

#btn-confirm-order {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

#btn-confirm-order:active {
  background-color: #ec4556;
}

#menu-navigation button img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
