.table{
    border-radius: 25px;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    font-size: larger;
}
.table thead{
    background-color: #546C98;
}
.table tbody{
    color: #222222;
    background-color: #F5F5F5;
}
.table tr:nth-child(even){
    background-color: #ADC7F3;
    opacity: 40%;
}
.table th, td{
    height: 50px;
}
#add-employee-button{
    position: absolute;
    bottom: 20px;
    right: 50%;
    left: auto;
    background-color: #546C98;
    color: white;
    border-radius: 25px;
    border: 0;
    padding: 4px 20px;
    font-size: 4rem;
    cursor: pointer;
    text-decoration: none;
}
#add-employee-button:hover{
    background-color: #435984;
}
#back-button{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: auto;
    background-color: #ADC7F3;
    opacity: 40%;
    color: white;
    border-radius: 25px;
    border: 0;
    padding: 4px 20px;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}
#back-button:hover{
    opacity: 60%;
}
#employee-form{
    padding: 30px 50px;
    background-color: #546C98;
    border-radius: 25px;
    width: 70%;
    border-spacing: 0;
    font-size: larger;
}
#employee-form input, #employee-form select{
    font-size: larger;
    width: 90%;
    margin-bottom: 20px;
}
#employee-form select{
    width: 96%;
    margin-bottom: 20px;
}