
h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

#menu-form {
    margin-left: 650px;
    margin-top: 70px;
    background-color: #ADC7F3; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    width: 50%;
    max-width: 700px; 
    min-width: 400px; 
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.form-control:focus {
    border-color: #007bff; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.select-multiple {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    height: 150px; 
}

.select-multiple:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}


.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; 
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
